<!DOCTYPE html>
<html lang="zxx">

    <%- include('layouts/header'); -%>


<body>

    <%- include('layouts/bar'); -%>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

      <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="/img/game/game13.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Boat Rush</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Play Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="/img/game/game17.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Christmas Furious</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Play Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="/img/game/game7.PNG">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Phaser</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Play Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Trending Now</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/popular_games" class="primary-btn">View All <span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game8.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 2</div>
                                        <div class="view"><i class="fa fa-eye"></i> 87</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Action</li>
                                            <li>Adventure</li>
                                        </ul>
                                        <h5><a href="#">Zeta Bros</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <a href="/game/tetris"><div class="product__item__pic set-bg" data-setbg="/img/game/game0.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 2</div>
                                        <div class="view"><i class="fa fa-eye"></i> 57</div>
                                    </div></a>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Strategy</li>
                                            <li>Arcade</li>
                                        </ul>
                                        <h5><a href="/game/tetris">Tetris</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game5.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 4</div>
                                        <div class="view"><i class="fa fa-eye"></i> 121</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Simulation</li>
                                            <li>Racing</li>
                                        </ul>
                                        <h5><a href="#">HexGL</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game4.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 0</div>
                                        <div class="view"><i class="fa fa-eye"></i> 43</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Puzzle</li>
                                            <li>Arcade</li>
                                        </ul>
                                        <h5><a href="#">Pocket Island</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game2.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 2</div>
                                        <div class="view"><i class="fa fa-eye"></i> 27</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Racing</li>
                                            <li>Simulation</li>
                                        </ul>
                                        <h5><a href="#">Pseudo 3D Racer</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game21.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 4</div>
                                        <div class="view"><i class="fa fa-eye"></i> 82</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Adventure</li>
                                        </ul>
                                        <h5><a href="#">Gold Digger</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Ranking</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/ranking" class="primary-btn">View All <span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic__sm set-bg" data-setbg="/img/game/game5.png">
                                    </div>
                                    <div class="product__item__text">
                                        <h5><a href="#">HexGL</a></h5>
                                        <table class="rank_table">
                                            <tr><th>Ranking</th>
                                                <th style="color:rgb(221, 118, 118)">&nbsp;&nbsp;1</th>
                                                <td style="color:rgb(221, 118, 118)">test1</td>
                                                <td style="color:rgb(221, 118, 118)">37</td>
                                            </tr>
                                            <tr><th></th>
                                                <th>&nbsp;&nbsp;2</th>
                                                <td>mineman</td>
                                                <td>25</td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>&nbsp;&nbsp;3</th>
                                                <td>japy</td>
                                                <td>17</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <a href="/rank/get"><div class="product__item">
                                    <div class="product__item__pic__sm set-bg" data-setbg="img/game/game0.png">
                                    </div>
                                    <div class="product__item__text">
                                        <h5><a>Tetris</a></h5>
                                        <table class="rank_table">
                                            <tr><th style="color:rgb(221, 118, 118)">지금 확인해보세요!</th></tr>
                                        </table>
                                    </div>
                                </div></a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic__sm set-bg" data-setbg="/img/game/game22.png">
                                    </div>
                                    <div class="product__item__text">
                                        <h5><a href="#">HTML5 Bird</a></h5>
                                        <table class="rank_table">
                                            <tr><th>Ranking</th>
                                                <th style="color:rgb(221, 118, 118)">&nbsp;&nbsp;1</th>
                                                <td style="color:rgb(221, 118, 118)">test1</td>
                                                <td style="color:rgb(221, 118, 118)">752</td>
                                            </tr>
                                            <tr><th></th>
                                                <th>&nbsp;&nbsp;2</th>
                                                <td>bee123</td>
                                                <td>608</td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>&nbsp;&nbsp;3</th>
                                                <td>pianoman</td>
                                                <td>601</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic__sm set-bg" data-setbg="/img/game/game20.png">
                                    </div>
                                    <div class="product__item__text">
                                        <h5><a href="#">Clumsy Bird</a></h5>
                                        <table class="rank_table">
                                            <tr><th>Ranking</th>
                                                <th style="color:rgb(221, 118, 118)">&nbsp;&nbsp;1</th>
                                                <td style="color:rgb(221, 118, 118)">test1</td>
                                                <td style="color:#dd7676">6</td>
                                            </tr>
                                            <tr><th></th>
                                                <th>&nbsp;&nbsp;2</th>
                                                <td>test2</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>&nbsp;&nbsp;3</th>
                                                <td>mineman</td>
                                                <td>1</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic__sm set-bg" data-setbg="/img/game/game21.png">
                                    </div>
                                    <div class="product__item__text">
                                        <h5><a href="#">Gold Digger</a></h5>
                                        <table class="rank_table">
                                            <tr><th>Ranking</th>
                                                <th style="color:rgb(221, 118, 118)">&nbsp;&nbsp;1</th>
                                                <td style="color:rgb(221, 118, 118)">japy</td>
                                                <td style="color:rgb(221, 118, 118)">120</td>
                                            </tr>
                                            <tr><th></th>
                                                <th>&nbsp;&nbsp;2</th>
                                                <td>test2</td>
                                                <td>87</td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>&nbsp;&nbsp;3</th>
                                                <td>test3</td>
                                                <td>60</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic__sm set-bg" data-setbg="/img/game/game2.png">
                                    </div>
                                    <div class="product__item__text">
                                        <h5><a href="#">Pseudo 3D Racer</a></h5>
                                        <table class="rank_table">
                                            <tr><th>Ranking</th>
                                                <th style="color:rgb(221, 118, 118)">&nbsp;&nbsp;1</th>
                                                <td style="color:rgb(221, 118, 118)">bee123</td>
                                                <td style="color:rgb(221, 118, 118)">48</td>
                                            </tr>
                                            <tr><th></th>
                                                <th>&nbsp;&nbsp;2</th>
                                                <td>test1</td>
                                                <td>27</td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>&nbsp;&nbsp;3</th>
                                                <td>mineman</td>
                                                <td>7</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="section-title">
                                        <h5>New Games</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="btn__all">
                                        <a href="/new_games" class="primary-btn">View All <span
                                                class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="filter__gallery">
                                <div class="product__sidebar__view__item set-bg mix day years"
                                    data-setbg="img/game/game22.png">
                                    <div class="star_rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="view"><i class="fa fa-eye"></i> 37</div>
                                    <h5><a href="#">HTML5 Bird</a></h5>
                                </div>
                                <div class="product__sidebar__view__item set-bg mix month week"
                                    data-setbg="img/game/game20.png">
                                    <div class="star_rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="view"><i class="fa fa-eye"></i> 81</div>
                                    <h5><a href="#">Clumsy Bird</a></h5>
                                </div>
                                <div class="product__sidebar__view__item set-bg mix week years"
                                    data-setbg="img/game/game24.jpg">
                                    <div class="star_rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="view"><i class="fa fa-eye"></i> 62</div>
                                    <h5><a href="#">Basket Random</a></h5>
                                </div>
                                <div class="product__sidebar__view__item set-bg mix years month"
                                    data-setbg="img/game/game13.jpg">
                                    <div class="star_rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="view"><i class="fa fa-eye"></i> 72</div>
                                    <h5><a href="#">Boat Rush</a>
                                    </h5>
                                </div>
                                <div class="product__sidebar__view__item set-bg mix day"
                                    data-setbg="img/game/game17.jpg">
                                    <div class="star_rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="view"><i class="fa fa-eye"></i> 142</div>
                                    <h5><a href="#">Christmas Furious</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="product__sidebar__comment">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="section-title">
                                        <h5>Community</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="btn__all">
                                        <a href="/community" class="primary-btn">View All <span
                                                class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__text">
                                    <h5><a href="/game/baseball2">baseball game2</a>
                                    </h5>
                                    <span class="post_writer">user13</span>
                                    <span class="viewes"><i class="fa fa-eye"></i> 44 Viewes</span>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__text">
                                    <h5><a href="/game/memory">memory_game</a></h5>
                                    <span class="post_writer">test454</span>
                                    <span class="viewes"><i class="fa fa-eye"></i> 80 Viewes</span>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__text">
                                    <h5><a href="/game/mole">mole game!!</a></h5>
                                    <span class="post_writer">pigman11</span>
                                    <span class="viewes"><i class="fa fa-eye"></i> 99 Viewes</span>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__text">
                                    <h5><a href="/game/2048">2048</a></h5>
                                    <span class="post_writer">pigman11</span>
                                    <span class="viewes"><i class="fa fa-eye"></i> 127 Viewes</span>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__text">
                                    <h5><a href="/game/baseball">baseball game</a></h5>
                                    <span class="post_writer">user13</span>
                                    <span class="viewes"><i class="fa fa-eye"></i> 152 Viewes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

<%- include('layouts/footer'); -%>
<%- include('layouts/scripts'); -%>

</body>

</html>