<!DOCTYPE html>
<html lang="zxx">

    <%- include('layouts/header'); -%>

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="../">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
    
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="../">Home</a></li>
                                <li><a href="../categories">Games <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="../popular_games">Popular Games</a></li>
                                        <li><a href="../new_games">New Games</a></li>
                                        <li><a href="../categories">Categories</a></li>
                                    </ul>
                                </li>
                                <li><a href="../community">Community</a></li>
                                <li><a href="/rank/get2">Ranking</a></li>
                                <% if(!loggedIn) { %>
                                <li><a href="/login">Sign Up</a></li>
                                <li class="active"><a href="/login">Login</a></li>
                                <% } %>
                                <% if(loggedIn) { %>
                                <li><a href="../auth/logout">Log out</a></li>
                                <li><a href="../mypage">Mypage</a></li>
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-Flg-2">
                    <div class="header__right">
                        <div class="darkcontainer night-mode-available">
                            <div class="night-mode-button">
                                <input type="checkbox" class="darkcheckbox" id="night-mode" checked>
                                <label for="night-mode" class="darklabel">
                                    <i class="fas fa-sun"></i>
                                    <i class="fas fa-moon"></i>
                                    <div class="blob"></div>
                                </label>
                            </div>
                        </div>
                        
                        <script>
                            var theme = document.querySelector('#theme-link');
                            const curTheme = localStorage.getItem('theme');
                            if (curTheme == 'dark-mode') {
                                theme.setAttribute("href", "/css/style-dark.css");
                                document.querySelector('#night-mode').checked= true;
                            }
                            else if (curTheme == 'light-mode') {
                                theme.setAttribute("href", "/css/style-light.css");
                                document.querySelector('#night-mode').checked = false;
                            }
                            document.querySelector('.darkcheckbox').addEventListener('change', function () {
                                if (theme.getAttribute("href") == "/css/style-light.css"){
                                    theme.setAttribute("href", "/css/style-dark.css");
                                    localStorage.setItem('theme', 'dark-mode');
                                    document.querySelector('#night-mode').checked = true;
                                }
                                else if (theme.getAttribute("href") == "/css/style-dark.css") {
                                    theme.setAttribute("href", "/css/style-light.css");
                                    localStorage.setItem('theme', 'light-mode');
                                    document.querySelector('#night-mode').checked = false;
                                }
                            });
                        </script>
                        <a href="/mypage"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    
    </header>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div> 

    <!-- Normal Breadcrumb Begin -->
   <section class="normal-breadcrumb set-bg" data-setbg="/img/banner.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Login</h2>
                        <p>Enjoy the Game!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->

    <% if(pass == true) { %>
    <script type="text/javascript">alert("로그인에 성공하셨습니다!")</script>
    <% } %>
    <% if(pass == false) { %>
    <script type="text/javascript">alert("아이디 또는 비밀번호가 틀렸습니다!")</script>
    <% } %>

    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Login</h3>
                        <form action="/users/login" method="POST" enctype="multipart/form-data">
                            <div class="input__item">
                                <input type="text" class="form-control" placeholder="Email address" id="mail" name="mail">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" class="form-control" placeholder="Password" id="password" name="password">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Login Now</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Don't Have An Account?</h3>
                        <form action="/users/signup" method="POST" enctype="multipart/form-data">
                            <div class="input__item">
                                <input type="text" placeholder="Email address" id="mail" name="mail">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Your Name" id="name" name="name">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Password" id="password" name="password">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Register Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Login Section End -->
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>

</html>