<!DOCTYPE html>
<html lang="zxx">

    <%- include('layouts/header'); -%>


<body>

    <%- include('layouts/bar'); -%>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Product Section Begin -->
    <section class="product-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Games</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game8.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 2</div>
                                        <div class="view"><i class="fa fa-eye"></i> 87</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Action</li>
                                            <li>Adventure</li>
                                        </ul>
                                        <h5><a href="#">Zeta Bros</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <a href="/game/tetris"><div class="product__item__pic set-bg" data-setbg="/img/game/game0.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 2</div>
                                        <div class="view"><i class="fa fa-eye"></i> 57</div>
                                    </div></a>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Strategy</li>
                                            <li>Arcade</li>
                                        </ul>
                                        <h5><a href="/game/tetris">Tetris</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game5.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 4</div>
                                        <div class="view"><i class="fa fa-eye"></i> 121</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Simulation</li>
                                            <li>Racing</li>
                                        </ul>
                                        <h5><a href="#">HexGL</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game4.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 0</div>
                                        <div class="view"><i class="fa fa-eye"></i> 43</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Puzzle</li>
                                            <li>Arcade</li>
                                        </ul>
                                        <h5><a href="#">Pocket Island</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game22.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 2</div>
                                        <div class="view"><i class="fa fa-eye"></i> 37</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Casual</li>
                                            <li>Arcade</li>
                                        </ul>
                                        <h5><a href="#">HTML5 Bird</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game2.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 2</div>
                                        <div class="view"><i class="fa fa-eye"></i> 27</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Racing</li>
                                            <li>Simulation</li>
                                        </ul>
                                        <h5><a href="#">Pseudo 3D Racer</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game23.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 1</div>
                                        <div class="view"><i class="fa fa-eye"></i> 37</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Adventure</li>
                                            <li>Action</li>
                                        </ul>
                                        <h5><a href="#">Jumpy Kangaroo</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/game/game21.png">
                                        <div class="star_rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                       </div>
                                        <div class="comment"><i class="fa fa-comments"></i> 4</div>
                                        <div class="view"><i class="fa fa-eye"></i> 82</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Adventure</li>
                                        </ul>
                                        <h5><a href="#">Gold Digger</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__pagination">
                        <a href="#" class="current-page">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>

</body>

</html>