@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);

html {
    text-align: center;
    box-sizing: border-box;
    background:seashell;
    font-family: 'Do Hyeon', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.title{
    margin-top: 50px;
    padding: -10%;
}
#title{
    font-size: 45px;
    height: fit-content;
    margin: 1px;
}
#titlePad{
    width: 350px;
}
#turnPad{
    width: 100px;
}
#turn{
    font-size: 20px;
}
#chance_count{
    font-size: 30px;
    margin: 10px;
}
form{
    margin-top: 10px;
}
.button{
    margin-top: 5px;
}
#submit{
    width: 60px;
    height: 30px;
    text-align: center;
    margin-left: 90px;
}
#clear{
    width: 60px;
    height: 30px;
    text-align: center;
    margin-right: 90px;
}
#scoretable {
    border: 1px solid #333333;
    border-collapse: collapse;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
#answer{
    margin-right: 65%;
}